<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271848108043-6gbfjqhe6e6clir2a86oktsk008tcquj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271848108043-6gbfjqhe6e6clir2a86oktsk008tcquj</string>
	<key>API_KEY</key>
	<string>AIzaSyC1bGh0l8zcko4c8iXLWTczjE0dh3HHxPs</string>
	<key>GCM_SENDER_ID</key>
	<string>271848108043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.graemebrennan.FireHawk</string>
	<key>PROJECT_ID</key>
	<string>firehawk-alarm-scan-app</string>
	<key>STORAGE_BUCKET</key>
	<string>firehawk-alarm-scan-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271848108043:ios:4884675c4850005b3fd70e</string>
</dict>
</plist>